@import "mixin/variate";
 .content-box{
    padding-top:51px;
   height:100%;
  }
 .user-model{
   margin-right:10px;
   margin-top:5px;
 }
 .user-title{
    @include transition(all .2s);
   background: #fff;
   border:thin solid #fff;
   text-align: center;
   padding:5px 0;
   height:40px;
   width:40px;
   @include border-radius(200px);
   &:hover{
     background: #888;
     color:#fff;
   }
   span{
     font-size:25px;
   }
 }
 .view{
   float:left;
   width:85%;
   height:100%;
 }