@import "init";
.ecl-select{
  margin-bottom:10px;
  &:after,
  &:before{
    content:'';
    display: table;
    clear: both;
  }
  .select-title{
      display: inline-block;
  }
  .ecl-option{
    &:active,
    &.active{
      background: $brand-primary-ecl!important;
      color:$bai!important;
    }
    @include transition(all .2s);
    font-size:1.2rem;
    @include border-radius(5px);
    display: inline-block;
    color:#000000;
    padding:2px 10px;
    cursor: pointer;
    background:$bai;
  }
}