@import "mixin/variate";
body{
  background: $gray-lighter-ecl;
}
header{
  background:$bai ;
  padding:0px 10px;
  height:80px;
  line-height: 80px;
  border:3px solid #aaff76;
}
.pd-none{
  padding:0!important;
}
.content-body{
  border:3px solid #ace5ff;
  padding:5px;
}