@import 'mixin/variate';
@media (max-width: 768px){
  .menu-over{
    overflow: hidden;
  }
  .menubg{
    position:fixed;
    width:100%;
    height:100%;
    z-index:10;
    background: rgba($gray-darker-ecl,.5);
    top:0;
    left:0;
  }
}
.menu-box{
  z-index:11;
  height:100%;
  width:15%;
  float:left;
  background: $gray-base-ecl;
  @media (max-width: 768px){
    @include transform(translate3d(0,0,0));
    @include transition(left .4s);
    position:fixed;
    //z-index:99;
    padding-top:50px;
    width:200px;
    top:0px;
    left:-200px;
    height:100%;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
    &.active{
      left:0;
    }
  }
}
.sidebar-menu{
   width:100%;
  font-weight:700;
  a{
    text-decoration: none;
    cursor: pointer;
    color:$gray-darker-ecl;
    position: relative;
  }

  ul,li{
    list-style-type:none;
    padding:0;
    margin:0;
  }
  .menu-first{
    display: block;
    height:40px;
    line-height:38px;
    @include box-shadow(-1px -2px 5px $hei);
    position:relative;
    padding-left:10px;
    color:$gray-dark-ecl;
    text-align: left;
    span{
      i{
        padding-right:10px;
      }
    }
    &:hover,
    &:active{
/*       color:$gray-darker-ecl; */
      //padding-left:20px;
    }
    &.active{
      //padding-left:20px;
      color:#eee;
      &:before{
        content:'';
        width:10px;
        height:10px;
        background: red;
        position:absolute;
        right:2px;
        top:0;
      }
      &:after{
        content:'';
        height:0;
        width:0;
        border-top:5px solid red;
        border-bottom:5px solid transparent;
        border-left:5px solid red;
        border-right:5px solid red;
        box-sizing: content-box;
        position:absolute;
        top:10px;
        right:2px;
      }

    }
    &:last-of-type{
      //border-bottom:1px solid $gray-light-ecl;
    }
  }

  .menu-second{
    height:100%;
    overflow: hidden;
    transition: all .5s;
    font-weight:200;
    background: $gray-darker-ecl;
    text-align: left;
    font-weight:500;
    >li{
      &:last-of-type{
        margin-bottom:10px;
      }
      a{
        padding-left:20px;
        @include box-shadow(1px 0px 5px $hei inset);
        color: $gray-light-ecl;
        display: block;
        height:30px;
        line-height: 28px;
        position:relative;
        @include transition(all .3s);
        border:1px solid transparent;
        box-sizing:border-box;
        span{
           padding-left:5px;
        }
        &:active,
        &:hover{
          padding-left:30px;
           color:$gray-darker-ecl;
           background:$gray-lighter-ecl;
        }

        &.active{
          /* &:before{
             content:'';
             width:10px;
             height:10px;
             background: red;
             position:absolute;
             right:2px;
             top:0;
           }*/

           &:after{
             content:'';
             height:0;
             width:0;
             border-top:15px solid transparent;
             border-bottom:13px solid transparent;
             border-left:13px solid transparent;
             border-right:13px solid $bai;
             box-sizing: content-box;
             position:absolute;
             top:0px;
             right:-2px;
           }
        }
      }}
  }
}
.menu-one{
  height:30px;
  &:active,
  &.active{
    height:30px;
  }
}
.menu-two{
  height:60px;
  &:active,
  &.active{
    height:60px;
  }
}
.menu-three{
  height:90px;
  &:active,
  &.active{
    height:90px;
  }
}
.menu-four{
  height:120px;
  &:active,
  &.active{
    height:120px;
  }
}