@import "init";
$border-color:#337ab7;
.checkedNo{
  position:relative;
  .checkCtrl{
      display:block;
      margin:0 auto;
      width:20px;
      height:20px;
      border:2px solid $border-color;
      @include border-radius(100px);
    }
}
.checkedYes{
  .checkCtrl{
    position: relative;
    display:block;
    margin:0 auto;
    width:20px;
    height:20px;
    border:2px solid $border-color;
    @include border-radius(100px);
    &::after{
      content:'';
      display: block;
      margin: 0 auto;
      position:absolute;
      top:2px;
      left:2px;
      width:12px;
      height:12px;
      //border:3px solid #0000cc;
      background: $border-color;
      @include border-radius(100px);
    }
  }
}
.table{
  >tbody>tr>td{
    vertical-align: middle;
  }
}
.table-style-ecl{
  thead>tr>th{
    background: $gray-dark-ecl;
    color:#fff;
    letter-spacing:1px;
  }
}