@import "init";
$border-color:#337ab7;
.chenckboxP{
  position:relative;
  &:first-of-type{
    a{
      display:block;
      position:absolute;
      //top:50%;
      //left:50%;
      margin-top:-10px;
      width:20px;
      height:20px;
      border:2px solid $border-color;
      @include border-radius(100px);
    }
  }
}
.chenckActive{
  position:relative;
  &:first-of-type{
    a::after{
      content:'';
      display: block;
      position:absolute;
      top:50%;
      left:50%;
      margin-top:-6px;
      margin-left:-6px;
      width:12px;
      height:12px;
      //border:3px solid #0000cc;
      background: $border-color;
      @include border-radius(100px);
    }
  }
}