<section class="panel content-body">
    <div class="panel-heading border-bottomm">列表管理</div>
    <div class="panel-body pd-horizontal-none">
         <div class="pd-horizontal-sm">
        <div ecl-filter="filterData" filter-title="筛选:" ng-model="abc"></div>
        </div>
        <div class="table-responsive">
            <table-list class="table-hover text-center table-condensed table-style-ecl" table-data="listData.data" table-title="title" table-checked="checkModel"  tqq-click="operation"></table-list>
        </div>
        <tqq-pagination ng-model="bcd" total-items="60" items-per-page="10" max-size="5" tqq-change="updateData()"></tqq-pagination>
    </div>
</section>
