<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>易车生活，继续前进</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/tqqStyle.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body id="glh">
    <header>
      未完待续....
    </header>
    <section class="pd-sm">
        <h1>前言</h1>
        <div class="pd-xs border-top text-sj">这个公司的介绍留到下次更新，现在我angular注重组件指令话，已有github项目。<a href="https://github.com/tangqq/tqqUi-angular-pagination" target="_blank">仿ui-bootstrap的分页组件，不过根据自己的需求做啦一些改动。</a> 还有最近在整理工作共能抽离出来的组件和对cms系统的一些模块化项目开发和项目搭建的参考项目
            <a href="https://github.com/tangqq/angular-CMS">未完成的cms系统基础构架</a></div>
    </section>
    <section class="pd-sm">
     <!--   <h1>项目总结</h1>
        <div class="pd-xs border-top">
            <h3>cms管理系统</h3>
            <p class="pd-l-lg">两套差不多的管理后台</p>
            <h4>跟以前做的一样，不同的是angular我一个人搭环境，一个人爬坑</h4>
            <div>难点总结</div>
            <table class="table table-striped bg-warning">
                <thead>
                <tr>
                    <th>难点</th>
                    <th>解决方法</th>
                    <th>评价</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>跨域</td>
                        <td>用的是cors方法解决的，在服务端的请求头加上应许访问接口的站点白名单</td>
                        <td>优点是前端不用加什么代码，支持post请求，而jsonp不支持post；缺点是不兼容低端浏览器。</td>
                    </tr>
                    <tr>
                        <td>post请求后端介绍不到数据</td>
                        <td>最终是把请求的contentType设置成application/x-www-form-urlencoded;charset=utf-8</td>
                        <td>最终还是解决啦，以后遇到同样的问题不用爬坑啦。</td>
                    </tr>
                </tbody>
            </table>
        </div>-->
    </section>
<section class="pd-sm">
    <h1>最后总结</h1>
    <div class="text-sj">未完待续...</div>
</section>
</body>
</html>