<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公老虎，人生的转折</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/tqqStyle.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body id="glh">
    <header class="glh">
        ——起步，崭新的开始！
    </header>
    <section class="pd-sm">
        <h2 class="body-title">前言</h2>
        <div class="pd-xs border-top text-sj">刚刚进公司，什么都不会，CTO扔给我本书，《Head First HTML与CSS》，这是我前端的起步，我花了两个星期看完；就直接参与啦项目的开发，边做静态边学习javascript，那是一段艰苦的日子。</div>
    </section>
    <section class="pd-sm">
        <h2 class="body-title">项目总结</h2>
        <div class="pd-xs border-top">
            <h3>老虎夺宝</h3>
            <p class="pd-l-lg">一个众筹电商项目</p>
            <h4>第一版,在即将完成时由于性能问题已失败告终，不过作为第一个项目，学到太多东西。</h4>
            <p class="text-sj">第一版使用啦ionic加angular开发webapp</p>
            <div>技术总结</div>
            <table class="table table-striped bg-warning">
                <thead>
                <tr>
                    <th>类型</th>
                    <th>使用技术</th>
                    <th>描述</th>
                    <th>自我评价</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>webApp页面布局</td>
                        <td>ionic框架+原生css</td>
                        <td>我负责的布局只是一味的复制粘贴，遇到需要添加样式的地方直接style属性在元素上加样式</td>
                        <td>写的布局无法直视，后期基本无法维护</td>
                    </tr>
                    <tr>
                        <td>逻辑处理与数据交互</td>
                        <td>angular.js</td>
                        <td>在学习js原生的同时直接上的angular，倍感辛苦，幸好angular的代码可读性高，也有案例参考。</td>
                        <td>仿照着已经写好的模块进行模仿，慢慢摸索，只知道什么都在controller里写，不过处理数据渲染dome确实倍感轻松。</td>
                    </tr>
                    <tr>
                        <td>管理后台布局</td>
                        <td>html+css+bootstrap</td>
                        <td>第一次接触bootstrap，原来布局还可以这么简单快捷呀。</td>
                        <td>认识啦啥是css样式库，从此布局不再愁。</td>
                    </tr>
                    <tr>
                        <td>数据逻辑</td>
                        <td>angular</td>
                        <td>除啦写controller之外，慢慢接触啦filter模块</td>
                        <td>遇到啦一个大难题，就是富文本编辑器，那时候用的是百度编辑器。敲捣啦两天，后来在仔细看啦官方文档和cto的指点下爬出了人生中的第一个坑</td>
                    </tr>
                    <tr>
                        <td>数据库</td>
                        <td>mySql</td>
                        <td>具体不知</td>
                        <td>无法评价</td>
                    </tr>
                    <tr>
                        <td>后端语言</td>
                        <td>PHP</td>
                        <td>世界上最好的语言，不过我不会</td>
                        <td>后端开发人员也是自学的，只是写写普通的增删查改。重要的核心都是cto写</td>
                    </tr>
                <tr>
                    <td>协作开发</td>
                    <td>坚果云同步</td>
                    <td>直接同步，保存代码直接覆盖调老版本代码</td>
                    <td>很大的缺点，不知情的会覆盖掉别人的代码，非常不好</td>
                </tr>
                </tbody>
            </table>
            <p class="text-sj">总结：慢慢融入团队，能够减轻团队的负担，出到自己的一份力，也接触到bootstrap和angular,angular虽然刚刚接触，但也知道它非常方便，在业余时间也经常自己学习，那时候最常待的就是慕课网，也会在w3school上面学习js。</p>
            <hr>
            <h4>第二版，由于性能问题，决定用原生安卓开发app，不过这样我和另外一个前端就没事啦，最终决定由我们两个开发pc端的。我慢慢的占据前端主导；这里主要说pc端</h4>
            <table class="table table-striped bg-warning">
                <thead>
                <tr>
                    <th>类型</th>
                    <th>使用技术</th>
                    <th>描述</th>
                    <th>自我评价</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>页面布局</td>
                    <td>html+css+bootstrap</td>
                    <td>更熟练的使用bootstrap，闲暇之余也是泡在慕课网和w3school，</td>
                    <td>老毛病依然在，样式直接写在标签上的style属性。</td>
                </tr>
                <tr>
                    <td>数据交互</td>
                    <td>angular.js</td>
                    <td>终于知道原来$http这种方式是叫ajax，很大工作就是接口获取数据，绑定视图，已经是前后端完全分离开发</td>
                    <td>慢慢的接触router,controller也渐渐熟练，对$scope对象也有一定认识</td>
                </tr>
                <tr>
                    <td>包依赖和版本控制</td>
                    <td>包依赖用啦bower，接触啦node,也开始用git而不是云同步啦</td>
                    <td>那时只是用bower来下载框架</td>
                    <td>只是觉得下载框架不用去网上找啦,完全没有版本控制的概念，用git避免啦覆盖别人的代码，有冲突都会提示解决。</td>
                </tr>
                </tbody>
            </table>
            <p class="text-sj">总结：最终项目算完成啦，也上线啦，但今天我在去找已经找不到啦，第一个pc端项目，完全没有考虑ie兼容，能做出来已经很不容易啦，技术也得到很大提示，尤其是对js的理解慢慢的深入。</p>
        </div>
        <div class="pd-xs border-top">
            <h3>贵州保利官网</h3>
            <p class="pd-l-lg">常规的企业官网，要求把他现有的官网进行翻工，在ui不变的基础上，让其支持移动端，当时三个人花啦一个月时间完成啦。</p>
            <div>技术总结</div>
            <table class="table table-striped bg-warning">
                <thead>
                <tr>
                    <th>类型</th>
                    <th>使用技术</th>
                    <th>描述</th>
                    <th>自我评价</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>页面布局</td>
                    <td>html+css+bootstrap</td>
                    <td>用的bootstrap做啦自适应布局，第一次尝试到bootstrap自适应布局的强大和方便</td>
                    <td>较为改善的是自己写的样式会独立出来写在外部文件里面啦</td>
                </tr>
                <tr>
                    <td>动态特效与数据交互</td>
                    <td>jquery</td>
                    <td>开始用jquery获取数据，写交互，在这个网站做下来，熟悉了jquery的几个常用api，尤其是获取元素和遍历元素</td>
                    <td>用到的jquery也没有用到多深，就是常用的api，就连渲染列表页也是用的最土的直接往父级元素里面循环添加元素，把添加的html代码块写在js里，不好维护</td>
                </tr>
                <tr>
                    <td>包依赖和版本控制</td>
                    <td>包依赖用啦bower，接触啦node,也开始用git而不是云同步啦</td>
                    <td>那时只是用bower来下载框架</td>
                    <td>git的使用能更好的解决冲突问题，不会遇到push不上去也pull不下来的情况，能自己定位问题所在。</td>
                </tr>
                </tbody>
            </table>
            <p class="text-sj">总结：虽然还是做的很赶，代码写的很丑，但勉强完成啦，也拿到啦一笔小奖金，心里有点小窃喜，到此，对布局也有一点小心得，虽然一直用的框架，但也会去看看bootstrap的样式到底怎样写才达到该有的效果。现在我再去看保利的官网，也已经不是我做的那一套啦，想来可能是什么原因导致的吧。</p>
        </div>
        <div class="pd-xs border-top">
            <h3>宗亲圈( <a href="http://www.zqq.so" target="_blank">www.zqq.so</a>)</h3>
            <p class="pd-l-lg">姓氏交友网站，最终这个项目做出来啦，但是没用运营，现在能看到的还是以前做出来的一样。</p>
            <div>技术总结</div>
            <table class="table table-striped bg-warning">
                <thead>
                <tr>
                    <th>类型</th>
                    <th>使用技术</th>
                    <th>描述</th>
                    <th>自我评价</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>页面布局</td>
                    <td>html+css+bootstrap</td>
                    <td>用的bootstrap做的布局</td>
                    <td>前端完全以我为主导啦</td>
                </tr>
                <tr>
                    <td>动态特效与数据交互</td>
                    <td>angular</td>
                    <td>我自己尝试搭建angular开发环境，直接写router，filter,controller。</td>
                    <td>对angular继续深入，不过没有写指令，那时候就抵触写自定义指令，也决定很难。</td>
                </tr>
                <tr>
                    <td>包依赖和版本控制</td>
                    <td>包依赖用啦bower，接触啦node,也开始用git而不是云同步啦</td>
                    <td>那时只是用bower来下载框架</td>
                    <td>git的使用能更好的解决冲突问题，不会遇到push不上去也pull不下来的情况，能自己定位问题所在。</td>
                </tr>
                <tr>
                    <td>图片资源管理</td>
                    <td>上传图片用啦第三方的，七牛云存储</td>
                    <td>用啦第三方的图片上传，遇到一些问题，后来在github上找到啦一个兼容七牛的上传插件</td>
                    <td>第三方云存储，还提供啦图片处理，缩放，裁剪，方便很多</td>
                </tr>
                <tr>
                    <td>管理后台</td>
                    <td>还是bootstrap+angular的组合</td>
                    <td>数据管理已经模块化啦，每个模块都是列表，增加，删除，编辑。分页插件用的是ui-bootstrap的，接触啦bootstrap的angularUI。</td>
                    <td>遇到一个大坑，用的百度编辑器，可是图片上传是用七牛云存储的,最后不得已就把百度编辑器的图片上传关掉，加啦一个自定义的上传组件。</td>
                </tr>
                </tbody>
            </table>
            <p class="text-sj">总结：渐渐的提升显得缓慢啦，做的这些工作都是做过的，就想搬运工一样的，没有遇到什么坑。</p>
        </div>
        <div class="pd-xs border-top">
            <h3>公老虎o2o</h3>
            <p class="pd-l-lg">生活服务类的o2o平台，这个项目是个微信公众号，几经波折，没能上线。在网上买啦一套模版使用啦，我也想离开这里。打算去北京张下见识啦。</p>
            <div>技术总结(react.js)</div>
            <table class="table table-striped bg-warning">
                <thead>
                <tr>
                    <th>类型</th>
                    <th>使用技术</th>
                    <th>描述</th>
                    <th>自我评价</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>页面布局</td>
                    <td>AmazeUI </td>
                    <td>由于用啦react.js，找到当时为数不多的支持react的amazeUI</td>
                    <td>amazeUi布局也跟主流的框架一样，常规组件都用，由于都是封装好的，直接构建好规范的数据结构就直接使用，很方便。</td>
                </tr>
                <tr>
                    <td>js框架</td>
                    <td>react.js</td>
                    <td>那时候是14年的5月，用react也只是cto研究过，我听他的讲解，而且用的组件框架都封装好啦，勉强能用。</td>
                    <td>react的算是单项数据绑定，状态改变会更新视图，不像angular那样的双向绑定，开始用的时候有点不习惯。</td>
                </tr>
                <tr>
                    <td>包依赖和版本控制</td>
                    <td>包依赖用啦bower，接触啦node,也开始用git而不是云同步啦</td>
                    <td>那时只是用bower来下载框架</td>
                    <td>git的使用能更好的解决冲突问题，不会遇到push不上去也pull不下来的情况，能自己定位问题所在。</td>
                </tr>
                <tr>
                    <td>管理后台</td>
                    <td>还是bootstrap+angular的组合</td>
                    <td>数据管理已经模块化啦，每个模块都是列表，增加，删除，编辑。分页插件用的是ui-bootstrap的，接触啦bootstrap的angularUI。</td>
                    <td>累积啦cms管理后台的一些经验，做cms系统更加得心应手。</td>
                </tr>
                </tbody>
            </table>
            <p class="text-sj">总结：开始接触到啦react.js，也看到啦它和angular的性能上的差异，不过那时候更新太快，没有深入研究。这个微信公众号1.0就因为需求打散过两次，最终也没能上线，到最后。就想到更大的城市看看。在更换的环境学习。</p>
        </div>

    </section>
<section class="pd-sm">
    <h2 class="body-title">最后总结</h2>
    <div class="text-sj">虽然最后我离开啦公老虎，但是，它是我学到最多东西的地方，也是我最开始没用经验慢慢提升的地方，不管以后去到哪里，学到多少的东西，都不会用这里给我的帮助大，我在这里学到的angular和接触到的react，在未来5年之内肯定霸占web前端开发，非常感谢我的好朋友推荐我来这里，也非常感谢cto和老板给我的这个环境，教我的这些东西。我要去更大的城市看看啦。</div>
</section>
</body>
</html>