@media (max-width: 768px) {
  .menu-over {
    overflow: hidden; }
  .menubg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(102, 102, 102, 0.5);
    top: 0;
    left: 0; } }

.menu-box {
  z-index: 11;
  height: 100%;
  width: 15%;
  float: left;
  background: #222222; }
  @media (max-width: 768px) {
    .menu-box {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: left 0.4s;
      -moz-transition: left 0.4s;
      -ms-transition: left 0.4s;
      -o-transition: left 0.4s;
      transition: left 0.4s;
      position: fixed;
      padding-top: 50px;
      width: 200px;
      top: 0px;
      left: -200px;
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch; }
      .menu-box.active {
        left: 0; } }

.sidebar-menu {
  width: 100%;
  font-weight: 700; }
  .sidebar-menu a {
    text-decoration: none;
    cursor: pointer;
    color: #666666;
    position: relative; }
  .sidebar-menu ul, .sidebar-menu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .sidebar-menu .menu-first {
    display: block;
    height: 40px;
    line-height: 38px;
    -webkit-box-shadow: -1px -2px 5px #000000;
    -moz-box-shadow: -1px -2px 5px #000000;
    box-shadow: -1px -2px 5px #000000;
    position: relative;
    padding-left: 10px;
    color: #909090;
    text-align: left; }
    .sidebar-menu .menu-first span i {
      padding-right: 10px; }
    .sidebar-menu .menu-first:hover, .sidebar-menu .menu-first:active {
      /*       color:$gray-darker-ecl; */ }
    .sidebar-menu .menu-first.active {
      color: #eee; }
      .sidebar-menu .menu-first.active:before {
        content: '';
        width: 10px;
        height: 10px;
        background: red;
        position: absolute;
        right: 2px;
        top: 0; }
      .sidebar-menu .menu-first.active:after {
        content: '';
        height: 0;
        width: 0;
        border-top: 5px solid red;
        border-bottom: 5px solid transparent;
        border-left: 5px solid red;
        border-right: 5px solid red;
        box-sizing: content-box;
        position: absolute;
        top: 10px;
        right: 2px; }
  .sidebar-menu .menu-second {
    height: 100%;
    overflow: hidden;
    transition: all .5s;
    font-weight: 200;
    background: #666666;
    text-align: left;
    font-weight: 500; }
    .sidebar-menu .menu-second > li:last-of-type {
      margin-bottom: 10px; }
    .sidebar-menu .menu-second > li a {
      padding-left: 20px;
      -webkit-box-shadow: 1px 0px 5px #000000 inset;
      -moz-box-shadow: 1px 0px 5px #000000 inset;
      box-shadow: 1px 0px 5px #000000 inset;
      color: #e5e5e5;
      display: block;
      height: 30px;
      line-height: 28px;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      border: 1px solid transparent;
      box-sizing: border-box; }
      .sidebar-menu .menu-second > li a span {
        padding-left: 5px; }
      .sidebar-menu .menu-second > li a:active, .sidebar-menu .menu-second > li a:hover {
        padding-left: 30px;
        color: #666666;
        background: #f4f4f4; }
      .sidebar-menu .menu-second > li a.active {
        /* &:before{
             content:'';
             width:10px;
             height:10px;
             background: red;
             position:absolute;
             right:2px;
             top:0;
           }*/ }
        .sidebar-menu .menu-second > li a.active:after {
          content: '';
          height: 0;
          width: 0;
          border-top: 15px solid transparent;
          border-bottom: 13px solid transparent;
          border-left: 13px solid transparent;
          border-right: 13px solid #ffffff;
          box-sizing: content-box;
          position: absolute;
          top: 0px;
          right: -2px; }

.menu-one {
  height: 30px; }
  .menu-one:active, .menu-one.active {
    height: 30px; }

.menu-two {
  height: 60px; }
  .menu-two:active, .menu-two.active {
    height: 60px; }

.menu-three {
  height: 90px; }
  .menu-three:active, .menu-three.active {
    height: 90px; }

.menu-four {
  height: 120px; }
  .menu-four:active, .menu-four.active {
    height: 120px; }
