@import "../../assets/sass/mixin/variate";
 .content-box{
    padding-top:52px;
   height:100%;
  }
 .user-model{
   margin-right:10px;
   margin-top:5px;
 };
 .user-title{
    @include transition(all .2s);
   background: #fff;
   display: block;
   border:thin solid #fff;
   text-align: center;
   padding:5px 0;
   height:40px;
   width:40px;
   @include border-radius(200px);
   &:hover{
     background: #888;
     color:#fff;
   }
   span{
     font-size:25px;
   }
 }
 .user-body{
   position: absolute;
   min-width:100px;
   right:10px;
  top:54px;

 }
 .view{
   position: relative;
   float:left;
   width:85%;
   min-height:100%;
   @media (max-width: 768px) {
      width:100%;

   }
 }
 .content-body{
   border:thin solid #000;
   @include border-radius(10px)
 }
