<nav class="navbar navbar-dark bg-inverse  border-radius-none navbar-fixed-top">
    <a class="navbar-brand" href="">Tang-QQ</a>
    <div class="form-inline pull-right mg-t-xxs">
        <input class="form-control form-control-sm border-radius-max" type="text" placeholder="快捷入口">
            <span class="icon icon-cogs btn btn-secondary-outline mg-l-lg"></span>
    </div>
</nav>
<div class="content-box pd-sm">
    内容
</div>
<footer class=" text-lg-center pd-sm navbar-dark bg-inverse">
    这里是底部
</footer>